<div class="jumbotron">
  <form novalidate class="simple-form" style="text-align='justify'">
    House Price: <input type="text" ng-model="user.housePrice" placeholder="House Price ($)"/><br />
    Tenure Years: <input type="text" ng-model="user.tenureYears" placeholder="Tenure Years" /><br />
    Number of outstanding loans: <input type="text" ng-model="user.oStandingLoans" placeholder="Outstanding Loans"/><br />
    <input type="submit" ng-click="user.dank()" value="Calculate" />

<div class="jumbotron">
    <p>{{user.dankResult1}}</p>
    <p>{{user.dankResult2}}</p>
    <p>{{user.dankResult3}}</p>
    <p>{{user.dankResult4}}</p>
    <p>{{user.dankResult5}}</p>
  </div>
  </form>
</div>