
<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Reports <small>Work with Chart.js and D3</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
				<h1 style="padding-bottom: 50px">Future plans</h1>
				<div id="chart_div" style="width: 900px; height: 600px;"></div>
				<h1 style="padding-bottom: 50px"> "Is this Pie?" </h1>
				<div id="piechart_3d" style="width: 900px; height: 600px;"></div>
				<h1 style="padding-bottom: 50px" > Your Saving goal </h1>
				<div class="center-block" id="chart_div2" style="width: 900px; height: 600px;"></div>

			</p>
		</div>
	</div>
</div>
