
<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Reports <small>Work with Chart.js and D3</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<h1>View your finances</h1>
				<div id="piechart" style="width: 900px; height: 500px;"></div>
				<h1>Your Expenses</h1>
				<div id="chart_div" style="width: 900px; height: 500px;"></div>
				

			</p>
		</div>
	</div>
</div>
