<div>
	<a ui-sref="retirement" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Retirement <small>Return my CPF!!!</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Retirement</h1>
			<p>The history of all hitherto society is the history of class struggles.</p>
		<div class="jumbotron">
			
  <form novalidate class="simple-form" style="text-align='justify'">
    Your Age: <input type="text" ng-model="user.housePrice" placeholder="Age"/><br />
    Your current income: <input type="text" ng-model="user.tenureYears" placeholder="Income" /><br />
    Number of outstanding loans: <input type="text" ng-model="user.oStandingLoans" placeholder="Outstanding Loans"/><br />
    Occupation: <select name = 'Occupation'>
    	<option value='1'>private sector employees and public sector non-pensionable employees</option>
    	<option value='2'>public sector pensionable employees</option>
    </select> <br/>
    Property? <select name = "house">
    	<option value="3">yes</option>
    	<option value="4">no</option>
    </select> <br/>
    <input type="submit" ng-click="user.getCPF()" value="Calculate" />
		</div>
	</div>
</div>
